/* GENERAL */
body{
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}
li {
  list-style-type: none;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	padding: 45px 0 0 0;
}
section .heading h2{
	text-align: center;
	padding-bottom: 40px;
}
section .heading h2{
	text-transform: uppercase;
}

/* MENU NAVIGATION */
.navbar{
	background-color: #fff !important;
	font-size: 12px;
	/* letter-spacing: ; */
	text-transform: uppercase;
	font-weight: bold;
}
.navbar .nav{
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-brand {
  color: #326FAB;
}
.navbar .navbar-collapse{
	text-align: center;
}
.navbar li a{
	color: #326FAB !important;
}
.navbar li a:hover{
	color: rgb(110, 149, 187) !important;
}
.navbar li.active a{
	color: rgb(19, 58, 97) !important;
}

/* PORTFOLIO */
#portfolio{
  background-color: #fff;
  padding-bottom: 80px;
}
.heading{
  background-image: url('../image/tools.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 300px;
}
.heading h2{
  color: white;
  font-size: 40px;
  padding: 0!important;
}
.subtitle {
  text-align: center;
  margin: 65px 0 0px 0;
}
.subtitle p{
  color: rgb(42, 42, 42);
}
.carousel {
  width: 700px;
}
.description {
  text-align: left;  
}
.description h3 {
  color: rgb(42, 42, 42); 
  font-weight: bold;
  padding-bottom: 15px;
}
.description p {
  color: rgb(42, 42, 42);
  padding-bottom: 15px;
}
.description a {
  width: 180px;
}
.carousel li {
  background-color: rgb(42, 42, 42);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color:rgb(235, 235, 235);
}
footer h5 {
  font-size: 15px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  .heading h2{
    font-size: 35px;
  }
  .subtitle{
    margin: 40px 0 38px 0;
  }
  .carousel{
    width: 360px;
  }
  .block{
    flex-direction: column-reverse!important;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px 20px 30px 20px;
    background-color: #f1f1f1;
  }
  .description{
    text-align: center;
  }
  .description h3{
    font-size: 22px;
  }
  .description p{
    font-size: 14px;
  }
  .description a {
    width: 100%;
  }
}

